<% if object.errors.any? %>
  <div id="error_explanation" class="card text-white bg-danger mb-3">
    <div class="card-header"><%= pluralize(object.errors.count, "error") %> prohibited this <%= object.class.name %> from being saved:</div>
    <div class="card-body">
      <ul>
        <% object.errors.full_messages.each do |message| %>
          <li class="card-text"><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>